body {
  background-color: rgb(16, 0, 0);
}
.box {
  width: 50%;
  height: 80%;
  margin: auto;
  margin-left: 30%;
  margin-right: 28%;
  margin-top: 25%;
}
.box h1 {
  color: white;
  text-align: left;
  font-size: 80px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: -1rem;
}
.box h5 {
  color: white;
  text-align: left;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 23px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}
.name {
  color: maroon;
}
ul {
  margin: 0;
  padding: 0;
}
.box li {
  display: inline-block;
  margin: 6px;
  margin-right: 6%;
  list-style: none;
}
.box li a {
  color: white;
  font-size: 30px;
  transition: all ease-in-out 250ms;
}
.box li a:hover {
  color: maroon;
}
.sidebar a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: maroon;
  border-radius: 0 5px 5px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.sidebar a:hover {
  left: 0;
}
.home {
  top: 20px;
  background-color: #ffffff;
}
.about {
  top: 20px;
  background-color: #ffffff;
}
.projects {
  top: 70px;
  background-color: #ffffff;
}
.contact {
  top: 120px;
  background-color: #ffffff;
}
.AboutMe {
  width: 50%;
  height: 80%;
  margin: auto;
  margin-top: 20%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.AboutMe h1 {
  margin-bottom: 5%;
  font-size: 50px;
}
.AboutMe p {
  text-align: justify;
  font-size: 25px;
}
